$colorbg: #f5f2ef ;
$colorbgbt: #e0552a;
$colorbgul: #fbd8d5;
$colorfooter: #9eaeda;
$colortipo: #fafafa;
$colorh1: slateblue;
$colorh2: #3d5da8;



h1 {
    color: $colorh1;
} 
H2 {
    color: $colorh2;
    font-family: 'Poppins', sans-serif;
}